<div>
  <link href="./item-card.css" rel="stylesheet" />
  <div class="item-card-gallery-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDI0fHxmb29kfGVufDB8fHx8MTYyNjQ0OTIzNQ&ixlib=rb-1.2.1&w=1500"
      class="item-card-image"
    />
    <div class="item-card-container">
      <h3 class="item-card-text"><span>Project Title</span></h3>
      <div class="item-card-container1">
        <svg viewBox="0 0 1024 1024" class="item-card-icon">
          <path
            d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
          ></path></svg
        ><svg viewBox="0 0 1024 1024" class="item-card-icon02">
          <path
            d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
          ></path></svg
        ><svg viewBox="0 0 1024 1024" class="item-card-icon04">
          <path
            d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
          ></path></svg
        ><svg viewBox="0 0 1024 1024" class="item-card-icon06">
          <path
            d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
          ></path></svg
        ><svg viewBox="0 0 1024 1024" class="item-card-icon08">
          <path
            d="M512 736l-264 160 70-300-232-202 306-26 120-282 120 282 306 26-232 202 70 300z"
          ></path>
        </svg>
      </div>
      <div class="item-card-container2">
        <span class="item-card-currency"><span>$</span></span>
        <span class="item-card-value"><span>429</span></span>
      </div>
    </div>
  </div>
</div>
