<div>
  <link href="./blog-post-card.css" rel="stylesheet" />
  <div class="blog-post-card-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1523906834658-6e24ef2386f9?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHZlbmljZXxlbnwwfHx8fDE2MjYyNzIyOTA&ixlib=rb-1.2.1&w=1500"
      class="blog-post-card-image"
    />
    <div class="blog-post-card-container">
      <span class="blog-post-card-text">
        <span>Chic sofa designs for 2022</span>
      </span>
      <span class="blog-post-card-text1">
        <span>
          Consectetur adipiscing elit duis tristique sollicitudin nibh
        </span>
      </span>
      <a href target="_blank" rel="noreferrer noopener" class="button">
        Read more
      </a>
    </div>
  </div>
</div>
